<div class="form-wrap" class="{{form.labelType}}-form">
    <label class="item item-input" ng-if="form.labelType == 'placeholder'">
        <input type="{{form.type}}" placeholder="{{form.title}}">
        <div class="help-text" sf-message="form.description"></div>
    </label>
    <div ng-if="form.labelType == 'inline'">
        <label class="item item-input">
            <span class="input-label">{{form.title}}</span>
            <input type="{{form.type}}" placeholder="{{form.placeholder}}">
            <div class="help-text" sf-message="form.description"></div>
        </label>
    </div>
    <label class="item item-input item-stacked-label" ng-if="form.labelType == 'stacked' || !form.labelType">
        <span class="input-label">{{form.title}}</span>
        <input type="{{form.type}}" placeholder="{{form.placeholder}}">
        <div class="help-text" sf-message="form.description"></div>
    </label>
    <label class="item item-input item-floating-label" ng-if="form.labelType == 'floating'">
        <span class="input-label">{{form.title}}</span>
        <input type="{{form.type}}" placeholder="{{form.placeholder || form.title}}">
        <div class="help-text" sf-message="form.description"></div>
    </label>
</div>